.AN_box {
  width: 1192px;
  height: 604px;
  margin-left: 24px;
  margin-top: 164px;
  background: #ffffff;
  box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
  border-radius: 16px;
}

.AN_box_title {
  position: absolute;
  margin-left: 420px;
  margin-top: 24px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #ff7506;
}

.AN_box_text {
  position: absolute;
  margin-left: 464px;
  margin-top: 92px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #535261;
}

.AN_dropdown {
  position: absolute;
  margin-left: 396px;
  margin-top: 134px;
}

.AN_dropdown .ant-select-selector {
  align-items: center;
  width: 400px !important;
  height: 44px !important;
}

.AN_dropdown .ant-select-selection-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #a9a9b0;
}

.AN_addD,
.AN_back {
  background: #fff2e7;
  border: 1.5px solid #ff9138;
  width: 115px;
  height: 48px;
  box-shadow: 0px 0px 6px #e7e9f2;
  border-radius: 8px;
  margin-top: 258px;
  margin-left: 465px;
}

.AN_addD:hover {
  border: 1.5px solid #ff9138 !important ;
}

.AN_back span {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ff9138;
}

.AN_back:hover {
  background-color: #fff2e7 !important;
}

.AN_addD {
  margin-left: 32px;
  background: #ff9138;
}

.AN_addD span {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.AN_addD:hover {
  background-color: #ff9138 !important;
}

.AD_modal .ant-modal-content {
  position: relative;
  width: 469px;
  height: 385px;
  background: #ffffff;
  border-radius: 24px;
  margin-left: 25.5px;
}

.AD_modal .ant-modal-close-x {
  color: #ff9138;
}

.AD_modal .ant-modal-title {
  margin-left: 71px;
  margin-top: 28px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #535261;
}

.AD_modal_box2 {
  position: absolute;
  width: 469px;
  height: 110px;
  margin-top: 171px;
  margin-left: -24px;
  background: #ff9138;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.AD_modal_number {
  position: absolute;
  margin-left: 110px;
  margin-top: 16px;
  font-weight: 800;
  font-size: 56px;
  line-height: 60px;
  color: #ff7506;
}

.AD_modal_text {
  position: absolute;
  margin-left: 50px;
  margin-top: 104px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #282739;
}

.AD_modal_time,
.AD_modal_box2_expiry {
  position: absolute;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
}

.AD_modal_time {
  margin-left: 67px;
  margin-top: 16px;
}

.AD_modal_box2_expiry {
  margin-left: 67px;
  margin-top: 61px;
}

.AD_modal_time > span {
  margin-left: 8px;
}
.AD_modal_box2_expiry > span {
  margin-left: 22px;
}

.ant-picker-dropdown .ant-picker-today-btn {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ff7506;
}

.ant-picker-focused {
  border-color: #ff7506;
  box-shadow: 0px 0px 6px #e7e9f2;
}

.ant-picker:hover {
  border: 1.5px solid #ff9138 !important ;
}

.ant-picker-cell-inner::before {
  border: 1.5px solid #ff9138 !important;
}

/* .ant-picker-cell-inner:active {
  background-color: white !important;
  color: #282739 !important;
} */

.AN_btn_on .ant-modal-footer .ant-btn-default {
  border-color: #ff7506;
  color: #ff7506;
}

.AN_btn_on .ant-btn-default:hover {
  border-color: #ff7506;
  color: #ff7506;
}

.AN_btn_on .ant-btn-primary {
  background-color: white;
  border-color: #ff7506;
  color: #ff7506;
}

.AN_btn_on .ant-btn-primary:hover {
  background-color: white;
  border-color: #ff7506;
  color: #ff7506;
}

.AN_btn_on .ant-modal-body .ant-btn-default {
  margin-left: 10px;
  margin-top: 10px;
}

.selected {
  background-color: white;
  border-color: #ff7506;
  color: #ff7506;
}
