.V_title {
  position: absolute;
  width: 169px;
  height: 36px;
  margin-left: 32px;
  margin-top: 104px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #ff7506;
}

.V_table {
  position: absolute;
  width: 1200px;
  height: 604px;
  margin-left: 24px;
  margin-top: 156px;
  background: #ffffff;
  box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
  border-radius: 16px;
}

.V_add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 4px;
  gap: 4px;
  width: 80px;
  height: 94px;
  margin-top: 156px;
  background: #fff2e7;
  box-shadow: 0px 0px 6px #e7e9f2;
  border-radius: 8px 0px 0px 8px;
  float: right;
}

.V_add > span {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ff7506;
}

.V_add:hover,
.V_add:focus-within {
  border: 1.5px solid #ff7506 !important;
}

.V_table_title {
  position: absolute;
  margin-left: 24px;
  margin-top: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ff7506;
}

.V_table .ant-row {
  margin-top: 50px;
  margin-left: 24px;
}

.V_col1 span,
.V_col2 span,
.V_col_center {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #282739;
  margin-top: 16px;
}

.V_col1 > span > span,
.V_col2 > span > span,
.V_col_center > span {
  position: absolute;
  margin-top: 0px;
  margin-left: 148px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #535261;
}
